<p id="notice"><%= notice %></p>
<head>
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ideas</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

<nav class="navbar navbar-dark navbar-static-top navbar-expand-md bg-dark">
    <div class="container">
       
        <div >
            <ul class="nav navbar-nav mr-auto">
            <li class='nav-item'>Ideas</li>
            

                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">
<%= link_to 'New Idea', new_idea_path %>
</div>
<br>
<table>
  <thead>
    <div class="container">
    <div class="row">
      <div class="col">
        Title
      </div>
      <div class="col">
        Description
      </div>
      <div class="col">
        Priority
      </div>
      <div class="col">
      </div>
       <div class="col">
      </div>
       <div class="col">
      </div>
    </div>
  </div>
  </thead>

  

  <tbody>
    <% @ideas.each do |idea| %>
      <tr>
        <td><%= idea.title %></td>
        <td><%= idea.description %></td>
        <td><%= idea.priority %></td>
        <td><%= link_to 'Show', idea %></td>
        <td><%= link_to 'Edit', edit_idea_path(idea) %></td>
        <td><%= link_to 'Destroy', idea, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
      <div class="card text-white bg-success mb-3" style="max-width: 18rem;">
  <div class="card-header"><%= idea.title %></div>
  <div class="card-body">
    <h5 class="card-title">priority: <%= idea.priority %></h5>
    <p class="card-text"><%= idea.description %></p>
  </div>
</div>
    <% end %>
  </tbody>
</table>


