<p id="notice"><%= notice %></p>
<head>
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ideas</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <div class="row align-content-sm-center">
<%= link_to 'New Idea', new_idea_path , :class => " btn btn-success"%>
  </div>
<br>

<% @ideas.each do |idea| %>

   <div class="row row-cols-3 row-cols-md-3">
     <div class="col mb-4">
       <div class="card h-100">
         <!--Card image-->
         <% if idea.priority == "high" %>
           <div class=" card-header view overlay bg-danger" style="align-content: center; padding: 10px; color: #EFEFEF; ">

         <% elsif idea.priority == "medium" %>
           <div class=" card-header view overlay bg-warning" style="align-content: center; padding: 10px; color: #EFEFEF;">


         <% elsif idea.priority == "low" %>
           <div class=" card-header view overlay bg-success" style="align-content: center; padding: 10px; color: #EFEFEF;">

         <% end %>
         <span><%= idea.priority %></span>

         </div>
         <!--Card content-->
         <div class="card-body">

           <!--Title-->
           <h4 class="card-title"><%= idea.title %></h4>
           <!--Text-->
           <p class="card-text"><%= idea.description %></p>
           <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
           <button type="button" class="btn btn-light-blue btn-md"><%= link_to 'Dump Idea',idea, method: :delete, data: { confirm: 'Are you sure?' } , :class => "btn btn-danger "%></button>

         </div>
         <!-- Card -->
         </div>
       </div>
     </div>
     </div>
   </div>


<% end %>




